<!DOCTYPE html>
<html>
<head>
    <script>

    </script>
</head>
   <body>
      <form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" /> </form> <!-- choose File -->
         <input type = "submit"/>

          <br>
          <br>
      
         </form>

      </div>
      <div class="event-activities hidden--activity" data-tab="2">
        <div class="activity">
          <div class="activity-text">
            <p class="activity-text__name_2">2. Etap</p>
            <p class="information-section__text_lection-2">   Finale kalan takımlar sorulara aşağıdaki linkten ulaşabilir.      </p>
            
          </div>
          <div class="activity-button">
            <a href="https://stdyildizedu-my.sharepoint.com/:w:/g/personal/emirhan_karakadioglu_std_yildiz_edu_tr/EUGVc19kAsNIqQDzshr7nXcB3aInBgIH_k3kn0EMpoijvQ?e=6jotNE" target="_blank" class="activity-button__link challenge-link">
              SORULAR &rarr;
            </a>
          </div>-->
        </div>





<!--yuvarlak bölmeli şey işte-->
<!--
        <head>
         <meta charset="UTF-8" />
         <title>HTML5 Pasta Grafik</title>
         </head>
         <body>
         <section>
         <div>
         <canvas id="canvas" width="400" height="300">
         Eğer tarayıcınızı HTML5'i desteklemiyorsa bu kısım görünecek.
         </canvas>
         </div>
          
         <script type="text/javascript">
         //renkler, grafiğimiz 5 parçadan oluşacakı için 5 rengi myColor dizisinde saklıyoruz.
         var myColor = ["#ECD078","#D95B43","#C02942","#542437","#53777A"];
          
         //pasta grafiği oluşturacak veri dizisi
         var myData = [10,30,20,60,40];
          
         function getTotal(){
         var myTotal = 0;
         for (var j = 0; j < myData.length; j++) {
         myTotal += (typeof myData[j] == 'number') ? myData[j] : 0;
         }
         return myTotal;
         }
          
          
          //ÇİZME FONKSİYONU
         function plotData() {
         
         var canvas;
         //tuval nesnesi tanımlanıyor
         
         var ctx;
         var lastend = 0;
         var myTotal = getTotal();
          
         canvas = document.getElementById("canvas");
         
         //2 boyutlu grafik
         ctx = canvas.getContext("2d");
         
         //çizim bölgesi temizleniyor.
         ctx.clearRect(0, 0, canvas.width, canvas.height);
          
         //Döngü ile grafik verilerinin olduğu myData dizisi elemanlarına teker teker ulaşılıyor.
         for (var i = 0; i < myData.length; i++) {
         
         //myColor dizisinden her veri elemanına karşı gelen renk seçiliyor.
         ctx.fillStyle = myColor[i];
         ctx.beginPath();
         
         //moveTo ile istenilen konuma odaklanılıyor.
         ctx.moveTo(200,150);
          
         //Matematikteki PI sayısı kullanılarak açılar çiziliyor.
         //arc fonksiyonu açı, line ise çizgi çizmek için kullanılıyor.
         ctx.arc(200,150,150,lastend,lastend+ (Math.PI*2*(myData[i]/myTotal)),false);
         ctx.lineTo(200,150);
         
         ctx.fill();
         lastend += Math.PI*2*(myData[i]/myTotal);
         
         //her bir açının çiziminden sonra son kalınan nokta lastend oluyor
         //döngünün sonraki çevriminde kalınan yerden devam ediliyor.
         }
         }
          
         plotData();
          
         </script>
         </section>


      -->




<!--saatli olan-->
<!--
         <head>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
               google.charts.load('current', {'packages':['gauge']});
               google.charts.setOnLoadCallback(drawChart);
         
               function drawChart() {
         
                 var data = google.visualization.arrayToDataTable([
                   ['Label', 'Value'],
                  var Memory;
                  console.log("Memory" +Memory);
                   ['Memory', 80],
                   ['CPU', 55],
                   ['Network', 68],
                   ['Tehlike Oranı', ]
                 ]);
         
                 var options = {
                   width: 400, height: 120,
                   redFrom: 90, redTo: 100,
                   yellowFrom:75, yellowTo: 90,
                   minorTicks: 5
                 };
         
                 var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
         
                 chart.draw(data, options);
         
                 setInterval(function() {
                   data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
                   chart.draw(data, options);
                 }, 13000);
                 setInterval(function() {
                   data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
                   chart.draw(data, options);
                 }, 5000);
                 setInterval(function() {
                   data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
                   chart.draw(data, options);
                 }, 26000);
                 setInterval(function() {
                   data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
                   chart.draw(data, options);
                 }, 5000);
               }
             </script>
           </head>
           <body>
             <div id="chart_div" style="width: 400px; height: 120px;"></div>
         

           -->








            <!--<a href="#" class="btn btn-info m-3" id=""getData>Get</a>
             <table class="table table-bordered">
               <thead>
                  <th>veri1</th>
                  <th>veri2</th>
                  <th>verti3</th>

               </thead>

             </table>



            -->







            <html lang="tr">
               <head>
               <meta charset="UTF-8">
               <meta name="viewport" content="width=device-width, initial-scale=1.0">
               <meta http-equiv="X-UA-Compatible" content="ie=edge">
                  <title> Title </title>
                   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
               </head>
                
               <body>
                   <div class="container">
                       <div class="row">
                           <div class="col">
                               <button class="btn btn-primary" id="veri-oku">Veri Çek</button>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col">
                               <table class="table">
                                 <thead>
                                   <tr>
                                    <th>#ID</th>
                                     <th>veri1</th>
                                     <th>veri2</th>
                                     <th>veri3</th>
                                   </tr>
                                 </thead>
                                 <tbody id="liste">
                                   <tr>
                                     <th scope="row">1</th>
                                    <!--böyle bi şey vardı başka bi şey yazmamız gerekir mi buraya bilemedim. gereksiz gibi geldi yorum satırı yaptım tşkrlerr...
                                    <td>Ali</td>
                                     <td>Bak</td>
                                    --> 
                                   </tr>
                                 </tbody>
                               </table>
                           </div>
                       </div>
                       
                   </div>
                   
                   <script>   
                      const btnCek=document.querySelector("#veri-oku");
                      const tbListe=document.querySelector("#liste");
                       btnCek.addEventListener("click",function(){
                           fetch('http://localhost:5000/analiz') 
                               .then(cevap => cevap.json()) 
                               .then(veri => {
                               
                                   tbListe.innerHTML="";//tabloyu boşalt
                               
                                   veri.forEach(function(element,index){
                                       const satir = document.createElement("tr");
                                       const hucre1 = document.createElement("td");
                                       const hucre2 = document.createElement("td");
                                       const hucre3 = document.createElement("td");
                                       const hucre4 = document.createElement("td");

                                       hucre1.textContent=element.id
                                       hucre2.textContent=element.veri2
                                       hucre3.textContent=element.veri3
                                       hucre4.textContent=element.veri3
                                       
                                       satir.appendChild(hucre1)
                                       satir.appendChild(hucre2)
                                       satir.appendChild(hucre3)
                                       
                                       tbListe.appendChild(satir)
                                   });
                                   
                               });
                       });
                   </script>
                   




        
                  
                  <form action = "http://localhost:5000/analiz" method = "GET">
     
                      <button type="submit">Analiz et</button>
     
     
     
           </form>










<style>
   p {
   color: rgb(128, 0, 100);
   }
</style>
<p>Log kayıtlarını indirmek için tıklayınız.
<p>
   <!-- GFG is the name of the 
      file to be downloaded-->
   <!-- In order to run the code, 
      the location of the file 
      "geeksforgeeks.png" needs to 
      be changed to your local directory,
      both the HTML and downloadable file 
      needs to be present in the same directory -->
   <a href="geeksforgeeks.png" download="GFG">
   <button type="button">Download</button>
   </a>



   




   </body>
</html>